In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
df = pd.read_csv("/content/data_lulus_tepat_waktu(3).csv", sep= ",")

In [ ]:
df.head()

    ip1   ip2   ip3   ip4  sks  tepat
0  2.30  1.97  1.80  1.56   50  Tidak
1  1.81  1.68  1.57  1.86   55  Tidak
2  3.07  3.00  2.75  3.21   68  Tidak
3  2.71  2.33  2.61  1.98   55  Tidak
4  3.17  3.02  3.28  2.96   69  Tidak

In [ ]:
df["tepat"].value_counts()

Ya       111
Tidak     49
Name: tepat, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.svm import SVC

In [ ]:
x = df[['ip1', 'ip2', 'ip3', 'ip4', 'sks']]
y = df['tepat']
x_training_data, x_test_data, y_training_data, y_test_data = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [ ]:
model = SVC()
model.fit(x_training_data.to_numpy(),y_training_data)

SVC()

In [ ]:
y_pred = model.predict(x_test_data)
accuracy = accuracy_score(y_test_data, y_pred)
print(accuracy)

0.75

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:443: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

In [ ]:
import pickle
pickle_out = open("mahasiswa.pkl","wb")
pickle.dump(model, pickle_out)
pickle_out.close()

In [ ]:
model.predict([[2.71, 2.76, 2.25, 3.12, 59]])

array(['Tidak'], dtype=object)